body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}
h1{
  color: black;
  font: oblique bold 120% cursive;
  font-size: xx-large;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: rgb(5, 65, 0);
  color: red;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  font-family: oblique bold 120% cursive;
  text-align: center;
  justify-content: center;
  background-image: url("https://image.freepik.com/vector-gratis/paisaje-fin-fondo-juego_22289-407.jpg");
  width: 100%;
  height: 100%;
}

.game-info {
  display: flex;
  margin-left: 20px;
  text-align: center;
  justify-content: center;

}
.game-board {
  display: flex;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
}
